/* ------------------- */
/* Custom properties   */
/* ------------------- */
html {
  font-size: 62.5%;
}
:root {
  /* colors */
  --clr-teal: 177 68% 64%;
  --clr-lightRed: 12 94% 65%;
  --clr-orange: 33 100% 70%;
  --clr-white: 20 33% 98%;
  --clr-black: 244 23% 12%;

  /* font-sizes */
  /* --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem); */
  --fs-900: 6.5rem;
  --fs-800: 4rem;
  --fs-700: 3.2rem;
  --fs-600: 2rem;
  --fs-500: 1.8rem;
  --fs-400: 1.6rem;

  /* font-families */
  --ff-sans: "IBM Plex Sans", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* set up the body */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-500);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background: hsl(var(--clr-white));
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 37.5rem;
  overflow-x: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */

.bg-teal {
  background-color: hsl(var(--clr-teal));
}
.bg-red {
  background-color: hsl(var(--clr-lightRed));
}

.bg-orange {
  background-color: hsl(var(--clr-orange));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-dark {
  background-color: hsl(var(--clr-black));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-black) / 0.5);
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-sans {
  font-family: var(--ff-sans);
}

.letter-spacing-1 {
  letter-spacing: -1px;
}

.letter-spacing-2 {
  letter-spacing: -0.45px;
}

.letter-spacing-3 {
  letter-spacing: -0.18px;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600,
.fs-500 {
  line-height: 1.1;
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap, 0.5rem);
  font-weight: 700;
  width: 29.6rem;
  height: 6.1rem;
  margin-bottom: 1.6rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-dark:hover,
.btn-dark:focus {
  background: hsl(var(--clr-teal));
  border: none;
}

.btn-light:hover,
.btn-light:focus {
  background: hsl(var(--clr-orange));
  border: none;
}

/* header */
.container::after {
  content: "";
  width: 281.4px;
  height: 480px;
  background-image: url("starter-code/assets/bg-main-mobile.png");
  background-position: 25% 75%;
  background-size: cover;
  position: absolute;
  top: -5%;
  right: 0;
  left: 39%;
  bottom: 0;
}
.bg-pattern-1 {
  display: none;
}

.header {
  margin: 3.9rem 2.4rem 6.8rem 2.4rem;
}

.header__logo {
  margin-bottom: 6.4rem;
}

.header__primary {
  margin-bottom: 2rem;
}

.header__info {
  line-height: 26px;
  margin-bottom: 6.8rem;
}

/* feature section */
.bg-pattern-2 {
  position: absolute;
  width: 280px;
  height: 420px;
  left: 10%;
  z-index: 0;
}

.illustration-img {
  width: 208.97px;
  height: 430px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.feature-section {
  position: relative;
  margin: 0;
  width: 375px;
  height: 600px;
  border-radius: 12px;
}

.features__box {
  position: absolute;
  top: 63%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 375px;
  height: 546px;
  border-radius: 12px;
  z-index: 2;
  padding: 4.8rem 3.7rem 4.8rem 3.6rem;
}

.features__heading {
  line-height: 40px;
  margin-bottom: 1.2rem;
}

.features__info {
  line-height: 28px;
  margin-bottom: 3.6rem;
}

.features__price {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.features__price span:first-child {
  font-weight: 700;
  line-height: 52px;
}
.features__price span:last-child {
  font-weight: 400;
  line-height: 32px;
}

/* footer */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 390px;
  margin-bottom: 80px;
  padding: 0 2.4rem 0 2.4rem;
}

.footer__logo {
  padding-bottom: 3.2rem;
}

.footer__content p {
  line-height: 26px;
  margin-bottom: 6.4rem;
}

.footer__social-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.icon:hover,
.icon:focus {
  fill: hsl(var(--clr-lightRed));
}

/* tablet */
@media screen and (min-width: 48rem) {
  .container {
    width: 100%;
    max-width: 905px;
  }

  .container::after {
    content: "";
    width: 983px;
    height: 808px;

    background-image: url("starter-code/assets/bg-main-tablet.png");
    background-repeat: no-repeat;
    background-position: 80% 60%;
    top: -7%;
    left: -22%;
    z-index: -1;
  }

  .header {
    padding: 0;
  }

  .bg-pattern-1 {
    display: block;
    width: 266.67px;
    height: 400px;
    z-index: 2;
    position: absolute;
    top: -2%;
    right: -4%;
  }

  .header__logo {
    padding-bottom: 0;
    margin-bottom: 9.5rem;
  }

  .header__primary {
    font-size: 6.4rem;
    line-height: 64px;
    width: 100%;
    max-width: 520px;
    letter-spacing: -0.73px;
    margin-bottom: 2.8rem;
  }

  .header__info {
    max-width: 514px;
    height: 112px;
    font-size: 1.8rem;
    line-height: 28px;
    margin-bottom: 11.1rem;
  }

  .feature-section {
    width: 100%;
    max-width: 696px;
    margin-top: 6.8rem;
    margin-right: 3.9rem;
    margin-left: 3.3rem;
  }

  .bg-pattern-2 {
    width: 280px;
    height: 420px;
    top: -6%;
    left: 34%;
  }
  .illustration-img {
    width: 270.21px;
    height: 556px;
    top: 23%;
    left: 30%;
  }

  .features__box {
    width: 399px;
    height: 546px;
    top: 26%;
    left: 36%;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8.7rem;
    width: 696px;
    margin: 8.7rem 3.9rem 8.5rem 3.3rem;
  }

  .footer__content {
    width: 366px;
  }

  .footer__social-links {
    align-items: center;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    width: 100%;
    max-width: 1024px;
  }

  .header__content {
    margin-left: 3.3rem;
    /* margin-right: 10rem; */
  }

  .header__primary {
    width: 100%;
    max-width: 620px;
  }

  .header__info {
    max-width: 580px;
  }

  .feature-section {
    max-width: 950px;
  }
}

/* desktop */
@media screen and (min-width: 90rem) {
  .container {
    width: 100%;
    max-width: 2000px;
  }

  .container::after {
    content: "";
    width: 1613px;
    height: 1758px;
    background-position: 135% 60%;
    background-image: url("starter-code/assets/bg-main-desktop.png");
    top: -12%;
    left: -10%;
  }

  .bg-pattern-1 {
    width: 312px;
    height: 468px;
    position: absolute;
    top: -3%;
    right: 0;
  }

  .header__content {
    margin-left: 16.5rem;
    margin-right: 28.7rem;
  }

  .header__primary {
    max-width: 1015px;
    font-size: 8.8rem;
    line-height: 88px;
    letter-spacing: -1px;
  }

  .header__info {
    font-size: var(--fs-600);
    line-height: 34px;
    max-width: 825px;
  }

  .feature-section {
    max-width: 1110px;
    margin-right: 16.5rem;
    margin-left: 16.5rem;
  }

  .illustration-img {
    max-width: 312px;
    top: 16%;
    left: 22%;
  }

  .bg-pattern-2 {
    width: 312px;
    height: 468px;
    top: -6%;
    left: 27%;
  }

  .features__box {
    width: 446px;
    height: 625px;
    padding: 5.8rem 5.9rem 4.8rem 5.4rem;
    top: 16%;
    left: 47%;
  }

  .features__heading {
    height: 52px;
    margin-bottom: 2.2rem;
  }

  .features__info {
    font-size: var(--fs-600);
    width: 333px;
    height: 170px;
    line-height: 34px;
    margin-bottom: 3.9rem;
  }

  .features__price {
    margin-bottom: 4.6rem;
  }

  .btn {
    width: 333px;
  }

  button {
    padding: 0;
    margin: 0;
  }

  .footer {
    width: 1110px;
    margin-top: 20rem;
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 8.7rem;
    padding: 0;
  }

  .footer__content {
    width: 1110px;
    display: flex;
    justify-content: space-between;
  }

  .footer__content p {
    width: 366px;
    height: 79px;
    margin-bottom: 0;
  }

  .footer__social-links {
    margin-top: 2.9rem;
    height: 20px;
  }
}
